{% extends 'appearance/base.html' %}

{% load i18n %}
{% load static %}

{% load appearance_tags %}
{% load common_tags %}
{% load smart_settings_tags %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block stylesheets %}
    <style>
        @font-face {
            font-family: 'mayan-edms';
            src: url("{% static 'appearance/fonts/mayan-edms.ttf' %}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        [class^="icon-"], [class*=" icon-"] {
            font-family: 'mayan-edms';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-mayan-edms-logo:before {
            content: "\e600";
            font-size: 150%;
        }

        .mayan-edms-logo {
            font-family: 'IM Fell English SC', serif;
            font-size: 150%;
            text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
        }

        @media (min-width: 768px) {
            .mayan-edms-logo {
                font-size: 300%;
            }
        }

        @media (min-width: 991px) {
            .mayan-edms-logo {
                font-size: 500%;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% common_project_information '__build_string__' as build_number %}
    {% smart_setting 'COMMON_PROJECT_TITLE' as setting_project_title %}
    {% common_project_information '__title__' as project_title %}

    {% appearance_get_icon 'mayan.apps.common.icons.icon_documentation' as icon_documentation %}
    {% appearance_get_icon 'mayan.apps.common.icons.icon_forum' as icon_forum %}
    {% appearance_get_icon 'mayan.apps.common.icons.icon_social_paypal' as icon_social_paypal %}
    {% appearance_get_icon 'mayan.apps.common.icons.icon_source_code' as icon_source_code %}
<!-- Search Bar: Search Students Name-->
    <div class="well">
        <div class="well center-block">
            <div class="row">
                <div class="col-xs-12">
                    <form action="/search/results/" class="form-horizontal" id="formSearch" method="get" role="search">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input class="form-control" name="q" placeholder="Search Student Name" type="text" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        Search
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Score Distribution-->
    <div class="well center-block">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-primary btn-lg btn-block " style="height: 120px;">
                    <br>
                    Average GPA: {{avg_gpa}}
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-primary btn-lg btn-block " style="height: 120px;">
                    <br>
                    Average Exam Score: {{avg_exam}}
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-primary btn-lg btn-block " style="height: 120px;">
                    <br>
                    Average Experience Score: {{avg_exp}}
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-primary btn-lg btn-block " style="height: 120px;">
                    <br>
                    Average Skills Score: {{avg_skills}}
                </a>
            </div>
        </div>
    </div>    
<!-- Students Information--> 
    <div class="well">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 class="text-center">{{student.user_name}}</h3>
                <div class=" None">
                    Candidate ID: {{student.id}}
                </div>
                <div class=" None">
                    High School: {{student.high_school}}
                </div>
                <div class=" None">
                    GPA: {{student.gpa_score}}
                </div>      
                <div class=" None">
                    SAT Score: {{student.exam_score}}
                </div>                              
                <div class=" None">
                    Average Experience Review score: {{student_avg_exp}}
                </div>
                <div class=" None">
                    Average Skills Review score: {{student_avg_skills}}
                </div>
            </div>
<!-- Students Ranking List-->
            <div class="col-xs-12 col-sm-4">
                <h3 class="text-center">Candidate Ranking</h3>
                <div class="well center-block">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <span style="white-space: nowrap">
                                            <span class="appearance-list-column-label">
                                                Candidate Name
                                            </span> 
                                        </span>
                                    </th>
                                    <th>
                                        <span style="white-space: nowrap">
                                            <span class="appearance-list-column-label">
                                                School
                                            </span>
                                        </span>
                                    </th>
                                    <th>
                                        <span style="white-space: nowrap">
                                            <span class="appearance-list-column-label">
                                                Score
                                            </span>
                                        </span>
                                    </th>
                                    <th class="">
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
<!--Body of ranking list-->
                            <tbody>
                                {% for candidate in candidates %}
                                    <tr>
                                        <td>
                                            <div class=" None">
                                                <!--Navigate to the candidate's profile page-->
                                                <a href="/students/">
                                                    {{candidate.candidate_name}}
                                                </a>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class=" None">
                                                {{candidate.high_school}}

                                            </div>
                                        </td>
                                        <td>
                                            <div class=" None">
                                                {{candidate.exam_score}}
                                            </div>
                                        </td>
                                        <td class="last">
                                            <div class="btn-list">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
